<section class="container">
  <div class="row">
    <div class="mb-3">
      <label class="form-label d-none">搜尋</label>
      <input type="text" class="form-control" #searchInput />
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" (click)="sortDataList('id')">#</th>
          <th scope="col" (click)="sortDataList('name')">name</th>
          <th scope="col" (click)="sortDataList('address')">address</th>
          <th scope="col" (click)="sortDataList('favorite')">favorite</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableList$ | async">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.favorite }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="getData()" class="btn btn-primary">get</button>
    </div>
    <div class="col">
      <button (click)="addNewData()" class="btn btn-info">add</button>
    </div>
  </div>
</section>
<section>
  <app-auto-complete></app-auto-complete>
</section>
<section class="video-demo">
  <div #anchor id="anchor">
    <div #video class="video" id="video">
      <div class="masker"></div>
      <video width="100%" controls>
        <source
          src="http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_stereo.ogg"
          type="video/ogg"
        />
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</section>
