<div class="row">
  <tabset>
    <tab heading="Chrome" id="tab1">
      <div class="row mt-3">
        <div class="col">
          <p>F12開發人員</p>
          <img src="assets/debug-tool/chrome_debug.png" class="img-fluid" />
        </div>
      </div>
    </tab>
    <tab heading="VS Code">
      <div class="row  mt-3">
        <div class="col">
          <p>建立launch.json</p>
          <img src="assets/debug-tool/launch_json.png" class="img-fluid" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>終端機使用 npm start 啟動</p>
          <p>設中斷點與除錯</p>
          <img src="assets/debug-tool/break_point.png" class="img-fluid" />
        </div>
      </div>
    </tab>
  </tabset>
</div>
<hr />
<div class="row">
  <div class="col">
    <button class="btn btn-danger" (click)="bugMe()">Bug me!</button>
  </div>
</div>
