<main class="main-container__main">
  <section>
    <h1>{{ title }}</h1>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/formData">元素資料流</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parent">父子元件</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/routing">路由傳值</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">HTTP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rxjsDemo">RxJS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">ng API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/debugTool" href="#">除錯工具</a>
      </li>
    </ul>
  </section>
  <section>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
